<form id=connect class=form-horizontal>
  <div class=control-group>
    <label class=control-label for=host>Host</label>
    <div class=controls><input id=host type=text value="{{host}}" autocapitalize=none autocorrect=off></div>
  </div>

  <div class=control-group>
    <label class=control-label for=port>Port</label>
    <div class=controls><input id=port type=text value="{{port}}" autocapitalize=none autocorrect=off></div>
  </div>

  <div class=control-group>
    <label class=control-label for=db>Database</label>
    <div class=controls><input id=db type=text value="{{database}}" autocapitalize=none autocorrect=off></div>
  </div>

  <div class=control-group>
    <label class=control-label for=user>Username</label>
    <div class=controls><input id=user type=text value="{{user}}" autocapitalize=none autocorrect=off></div>
  </div>

  <div class=control-group>
    <label class=control-label for=pass>Password</label>
    <div class=controls><input id=pass type=password value="{{password}}"></div>
  </div>

  <div class=form-actions>
    <button type=submit class="btn btn-primary">Connect</button>
  </div>
</form>
