<table>
  <tr><th>table<th>rows<th>data<th>index
  {{#each tables}}
    <tr data-table="{{this.table}}">
      <td>{{this.table}}
      <td>{{this.rows}}
      <td>{{this.data}}
      <td>{{this.index}}
  {{/each}}
</table>
